In [1]:
import networkx as nx #library supporting networks
import matplotlib.pyplot as plt #plotting
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy import optimize
#make sure plots are embedded into the notebook
%pylab inline 
import statsmodels.formula.api as smf

Populating the interactive namespace from numpy and matplotlib

In [14]:
# import all the similar artists expanding from the original hottest 50 artists
total_artist = pd.read_csv('similar_artists_top_50.csv', encoding="iso-8859-9")
total_artist.head()

             artist  hotttnesss
0     Justin Bieber    0.998382
1              Kygo    0.965525
2     One Direction    0.955242
3  Lost Frequencies    0.953128
4     Calvin Harris    0.952380

In [15]:
# import all the edges data
total_artist_edge = pd.read_csv('total_artist_edge.csv')
total_artist_edge.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,609,610,611,612,613,614,615,616,617,618
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# drop the first column
total_artist_edge.drop('Unnamed: 0', axis=1, inplace=True)

In [17]:
# change the row and column index of edge data by using artists' names
total_artist_edge.index=list(total_artist['artist'])
total_artist_edge.columns=list(total_artist['artist'])
total_artist_edge.head()

,Justin Bieber,Kygo,One Direction,Lost Frequencies,Calvin Harris,Taylor Swift,Ellie Goulding,Robin Schulz,Drake,Meghan Trainor,...,Broods,Gaby Moreno,Adele,Emilíana Torrini,Everything but the Girl,Little Boots,Schlachthofbronx,Charlie Puth,D-Ceptor,Blond:ish
Justin Bieber,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Kygo,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
One Direction,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Lost Frequencies,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Calvin Harris,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# initiate a artist network and import all the nodes
total_artist_graph = nx.DiGraph()
total_artist_list = list(total_artist['artist'])
total_artist_graph.add_nodes_from(total_artist_list)

In [18]:
# add edges 
number_of_artist = len(total_artist)
for i in range(number_of_artist):
    for j in range(number_of_artist):
        if total_artist_edge.iloc[i][j]==1:
            total_artist_graph.add_edge(total_artist_list[i],total_artist_list[j])

In [ ]:
#add length attribute to the edges
#nx.set_edge_attributes(networkA, 'dist', 0)

### Visualize the network with artist names as nodes and sizes proportional to artists' hotness

In [ ]:
plt.figure(figsize = (20,15))
nx.draw(total_artist_graph,with_labels=True,arrows=False,node_size=20,style='dotted',edge_color='green')